{% extends 'base.html' %}

{% block content %}

<div class="page-head">

    <div>
        <h1>{{ plural|title }}</h1>
        <p>Maintain library {{ plural }}.</p>
    </div>


    {% if plural == 'authors' %}

        <a class="btn btn-primary" href="{% url 'books:author_add' %}">
            Add {{ label }}
        </a>


    {% elif plural == 'categories' %}

        <a class="btn btn-primary" href="{% url 'books:category_add' %}">
            Add {{ label }}
        </a>


    {% else %}

        <a class="btn btn-primary" href="{% url 'books:publisher_add' %}">
            Add {{ label }}
        </a>


    {% endif %}

</div>



<div class="panel">

    <div class="table-responsive">

        <table class="table align-middle">

            <thead>
                <tr>
                    <th>Name</th>
                    <th>Details</th>
                    <th></th>
                </tr>
            </thead>


            <tbody>


            {% for item in items %}


                <tr>

                    <td>
                        <strong>{{ item.name }}</strong>
                    </td>


                    <td>

                        {% if item.biography %}

                            {{ item.biography|truncatechars:70 }}

                        {% elif item.description %}

                            {{ item.description|truncatechars:70 }}

                        {% else %}

                            {{ item.website }}

                        {% endif %}

                    </td>


                    <td class="text-end">


                        {% if plural == 'authors' %}


                            <a class="btn btn-sm btn-light"
                               href="{% url 'books:author_edit' item.pk %}">
                                Edit
                            </a>


                            <a class="btn btn-sm btn-outline-danger"
                               href="{% url 'books:author_delete' item.pk %}">
                                Delete
                            </a>



                        {% elif plural == 'categories' %}



                            <a class="btn btn-sm btn-light"
                               href="{% url 'books:category_edit' item.pk %}">
                                Edit
                            </a>


                            <a class="btn btn-sm btn-outline-danger"
                               href="{% url 'books:category_delete' item.pk %}">
                                Delete
                            </a>



                        {% else %}



                            <a class="btn btn-sm btn-light"
                               href="{% url 'books:publisher_edit' item.pk %}">
                                Edit
                            </a>


                            <a class="btn btn-sm btn-outline-danger"
                               href="{% url 'books:publisher_delete' item.pk %}">
                                Delete
                            </a>



                        {% endif %}


                    </td>


                </tr>



            {% empty %}


                <tr>

                    <td colspan="3" class="text-muted text-center">
                        No records yet.
                    </td>

                </tr>


            {% endfor %}



            </tbody>


        </table>


    </div>


</div>


{% endblock %}